<launch>
	<node name="joy_node" pkg="joy" type="joy_node" output="screen"/>

	<!--remap from="B01/mavros/vision_pose/pose" to="vrpn_client_node/Wand/pose"/> 
	<include file="$(find vrpn_client_ros)/launch/sample.launch" /-->

	<group ns="B01">

		<!--node name="tf2pose" pkg="drone_pose" type="tf2pose" output="screen">
			<param name="tf_target_frame" value="odom"/>
			<param name="tf_source_frame" value="base_link"/>
			<param name="pose_frame_id" value="world"/>
			<remap from="pose_topic" to="mavros/vision_pose/pose"/>
		</node-->

		<node name="drone_pose_node" pkg="drone_pose" type="drone_pose_node" output="screen">
		
		  <rosparam param="x_bounds"> [-5, 10] </rosparam>
			<rosparam param="y_bounds"> [-5, 5] </rosparam>
			<rosparam param="z_bounds"> [-1, 4] </rosparam>
			
			<rosparam param="takeoff_position"> [0, 0, 0.5] </rosparam>
			
			<remap from="drone_pose/mavros_state_topic" to="mavros/state"/>
			<remap from="drone_pose/joy_topic" to="/joy"/>
			<remap from="drone_pose/pose_topic" to="mavros/local_position/pose"/>
			<remap from="drone_pose/setpoint_topic" to="mavros/setpoint_position/local"/>
			<remap from="drone_pose/flight_mode_service" to="drone_pose/flight_mode_service"/>
			<remap from="drone_pose/trajectory_topic" to="drone_pose/trajectory_topic"/>
			<remap from="drone_pose/mavros_extended_state_topic" to="mavros/extended_state"/>
			<remap from="drone_pose/estop_status_topic" to ="drone_pose/estop_status_topic"/>
			<remap from="drone_pose/estop_command_topic" to="drone_pose/estop_command_topic"/>

			<param name="arm_button" type="int" value="0"/>
			<param name="disarm_button" type="int" value="3"/>

			<param name="A_button" type="int" value="1"/>
			<param name="B_button" type="int" value="2"/>
			<param name="land_button" type="int" value="4"/>

			<param name="x_axis" type="int" value="3"/>
      			<param name="y_axis" type="int" value="2"/>
			<param name="z_axis" type="int" value="1"/>
			<param name="yaw_axis" type="int" value="0"/>
			
			<param name="max_xy_vel" type="double" value="0.6"/>
			<param name="max_z_vel" type="double" value="0.6"/>
			<param name="max_yaw_rate" type="double" value="1.00"/>
			<param name="land_speed" type="double" value="0.2"/>
			<param name="successRadius" type="double" value="0.35"/>
			
			<param name="frame_id" type="string" value="odom"/>
			
		</node>
		
		<!--node name="path2traj_node" pkg="drone_pose" type="path2traj_node" output="screen">
			<param name="carrot_distance" value="1.5"/>
			<remap from="path" to="drone_pose_path"/>
			<remap from="traj" to="drone_pose_traj"/>
			<remap from="local_goal" to="drone_pose_carrot"/>
		</node-->
	
		<include file="$(find mavros)/launch/node.launch">
			<arg name="pluginlists_yaml" value="$(find drone_pose)/launch/px4_pluginlists.yaml" />
			<arg name="config_yaml" value="$(find drone_pose)/launch/px4_config.yaml" />

			<arg name="fcu_url" value="/dev/fcu" />
			<arg name="gcs_url" value="" />
			<arg name="tgt_system" value="1" />
			<arg name="tgt_component" value="1" />
			<arg name="log_output" value="screen" />
			<arg name="fcu_protocol" value="v2.0" />
			<arg name="respawn_mavros" value="false" />
		</include>

		<param name="mavros/vision_pose/tf/listen" type="bool" value="true"/>
                <param name="mavros/vision_pose/tf/frame_id" type="string" value="odom"/>
                <param name="mavros/vision_pose/tf/child_frame_id" type="string" value="base_link"/>
                <param name="mavros/vision_pose/tf/rate_limit" type="double" value="50"/>

		<!--param name="mavros/distance_sensor/sonar_1_sub/id" type="int" value="2"/>
		<param name="mavros/distance_sensor/sonar_1_sub/subscriber" type="bool" value="true"/-->

		<!--remap to="/teraranger_evo" from="mavros/distance_sensor/laser_1_sub"/-->
	</group>
	
	
</launch>


<!-- Microsoft Xbox 360 Wired Controller for Linux -->
<!-- Buttons => 0:A, 1:B, 2:X, 3:Y, 4:LB, 5:RB, 6:back, 7:start, 8:power -->
<!-- Axes => 0:L/R Left stick, 1:U/D Left stick, 2:LT, 3:L/R Right stick, 4:U/D Right stick, 5:RT -->  

<!-- F170 Logitech for Linux -->
<!-- Buttons => -->
